<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta
            name="description"
            content="Administra tus cuentas"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap" rel="stylesheet">
        <title>@ViewData["Title"] - Sofisoft</title>
        <style type="text/css">

            *, :after, :before {
                box-sizing: border-box;
            }
            
            body, html {
                font-family: 'Josefin Slab', serif;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>